### With this high-risk solution approach we try to overcome the challenges faced when we try to forecast on a large dataset which contain forecast groups which is Counties in this case. Also, the statistical models used in medium risk solution cannot seemlessly integrate multivariate data for forecasting.

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

import lightgbm as lgb
import optuna

In [2]:
# Mount the drive
import warnings
warnings.filterwarnings("ignore")

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Read Data

In [3]:
train_df = pd.read_csv('drive/MyDrive/DS5500/train.csv', index_col="row_id")
test_df = pd.read_csv('drive/MyDrive/DS5500/test.csv', index_col="row_id")
census_data = pd.read_csv('drive/MyDrive/DS5500/census_starter.csv', index_col='cfips')

In [4]:
train_df.head()

,cfips,county,state,first_day_of_month,microbusiness_density,active
row_id,,,,,,
1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,1249
1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,1198
1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,1269
1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,1243
1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,1243

In [5]:
test_df.head()

                 cfips first_day_of_month
row_id
1001_2022-11-01   1001         2022-11-01
1003_2022-11-01   1003         2022-11-01
1005_2022-11-01   1005         2022-11-01
1007_2022-11-01   1007         2022-11-01
1009_2022-11-01   1009         2022-11-01

In [6]:
census_data.head()

,pct_bb_2017,pct_bb_2018,pct_bb_2019,pct_bb_2020,pct_bb_2021,pct_college_2017,pct_college_2018,pct_college_2019,pct_college_2020,pct_college_2021,...,pct_it_workers_2017,pct_it_workers_2018,pct_it_workers_2019,pct_it_workers_2020,pct_it_workers_2021,median_hh_inc_2017,median_hh_inc_2018,median_hh_inc_2019,median_hh_inc_2020,median_hh_inc_2021
cfips,,,,,,,,,,,,,,,,,,,,,
1001,76.6,78.9,80.6,82.7,85.5,14.5,15.9,16.1,16.7,16.4,...,1.3,1.1,0.7,0.6,1.1,55317,58786.0,58731,57982.0,62660.0
1003,74.5,78.1,81.8,85.1,87.9,20.4,20.7,21.0,20.2,20.6,...,1.4,1.3,1.4,1.0,1.3,52562,55962.0,58320,61756.0,64346.0
1005,57.2,60.4,60.5,64.6,64.6,7.6,7.8,7.6,7.3,6.7,...,0.5,0.3,0.8,1.1,0.8,33368,34186.0,32525,34990.0,36422.0
1007,62.0,66.1,69.2,76.1,74.6,8.1,7.6,6.5,7.4,7.9,...,1.2,1.4,1.6,1.7,2.1,43404,45340.0,47542,51721.0,54277.0
1009,65.8,68.5,73.0,79.6,81.0,8.7,8.1,8.6,8.9,9.3,...,1.3,1.4,0.9,1.1,0.9,47412,48695.0,49358,48922.0,52830.0

## Data Preparation/Feature Engineering

As we will be using ensemble models which perform regression the time-series data need to be prepared into a data suitable for regression. In this section we aim to achieve that by Data Preparation and Feature Engineering

In [7]:
# Add missing states to test_df
state_dict = train_df[['cfips', 'state', 'county']]
state_dict = state_dict.set_index('cfips')
state_dict = state_dict.drop_duplicates()
state_dict = state_dict.to_dict()

test_df['state'] = test_df['cfips'].map(state_dict['state'])
test_df['county'] = test_df['cfips'].map(state_dict['county'])

test_df.head()

                 cfips first_day_of_month    state          county
row_id
1001_2022-11-01   1001         2022-11-01  Alabama  Autauga County
1003_2022-11-01   1003         2022-11-01  Alabama  Baldwin County
1005_2022-11-01   1005         2022-11-01  Alabama  Barbour County
1007_2022-11-01   1007         2022-11-01  Alabama     Bibb County
1009_2022-11-01   1009         2022-11-01  Alabama   Blount County

Extract Features

In [8]:
# Variables
time_column = "first_day_of_month"
target_column = "microbusiness_density"
LAGS = [1, 2, 3, 4, 5, 6]

**Extract Time Features**

In [9]:
def time_featurizer(df, time_column):
  df[time_column] = pd.to_datetime(df[time_column])
  df['year'] = df[time_column].dt.year
  df['month'] = df[time_column].dt.month
  df['scale'] = (df[time_column] - df[time_column].min()).dt.days
  df['scale'] = df['scale'].factorize()[0]
  return df

In [10]:
df_all = pd.concat([train_df, test_df], axis=0)

df_all = time_featurizer(df_all, time_column)

In [11]:
df_all.head()

,cfips,county,state,first_day_of_month,microbusiness_density,active,year,month,scale
row_id,,,,,,,,,
1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,1249.0,2019,8,0
1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,1198.0,2019,9,1
1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,1269.0,2019,10,2
1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,1243.0,2019,11,3
1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,1243.0,2019,12,4

**Extract Lag Features**

In [12]:
def lag_featurizer(df, lags, target_column):
  for i in lags:
    df_all[f'lags({i})'] = df_all.groupby('cfips')[target_column].shift(i)
  
  df_all['active'] = df_all.groupby('cfips')['active'].shift(8)
  return df_all

In [13]:
df_all = lag_featurizer(df_all, LAGS, target_column)

In [14]:
df_all.head()

,cfips,county,state,first_day_of_month,microbusiness_density,active,year,month,scale,lags(1),lags(2),lags(3),lags(4),lags(5),lags(6)
row_id,,,,,,,,,,,,,,,
1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,NaN,2019,8,0,NaN,NaN,NaN,NaN,NaN,NaN
1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,NaN,2019,9,1,3.007682,NaN,NaN,NaN,NaN,NaN
1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,NaN,2019,10,2,2.884870,3.007682,NaN,NaN,NaN,NaN
1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,NaN,2019,11,3,3.055843,2.884870,3.007682,NaN,NaN,NaN
1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,NaN,2019,12,4,2.993233,3.055843,2.884870,3.007682,NaN,NaN

Handle Categorical Data

In [15]:
# Variables

categorical_columns = ["county", "state"]

Drop time column. We extracted this information using time_featurizer and we can't keep datetime datatype in a regression model

In [16]:
df_all = df_all.drop(columns=[time_column])

The advantage of using Ensemble Models like XGBoost or LGBM is that unlike Linear Regression they can handle categorical data within the model itself without the need for encoding (one-hot or label).

Source: https://xgboost.readthedocs.io/en/stable/tutorials/categorical.html

In [17]:
df_all[categorical_columns] = df_all[categorical_columns].astype('category')

In [18]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 147345 entries, 1001_2019-08-01 to 56045_2023-06-01
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   cfips                  147345 non-null  int64
 1   county                 147345 non-null  category
 2   state                  147345 non-null  category
 3   microbusiness_density  122265 non-null  float64
 4   active                 122265 non-null  float64
 5   year                   147345 non-null  int64
 6   month                  147345 non-null  int64
 7   scale                  147345 non-null  int64
 8   lags(1)                122265 non-null  float64
 9   lags(2)                122265 non-null  float64
 10  lags(3)                122265 non-null  float64
 11  lags(4)                122265 non-null  float64
 12  lags(5)                122265 non-null  float64
 13  lags(6)                122265 non-null  float64
dtypes: category(2), float64(8), int64(4)
memory usage: 15.1+ MB

### Enrich the data with Census Data

In [19]:
df_all = df_all.reset_index()
df_all = df_all.set_index('cfips')

df_all[census_data.columns] = census_data

df_all = df_all.reset_index()
df_all = df_all.set_index("row_id")

In [20]:
df_all.head()

,cfips,county,state,microbusiness_density,active,year,month,scale,lags(1),lags(2),...,pct_it_workers_2017,pct_it_workers_2018,pct_it_workers_2019,pct_it_workers_2020,pct_it_workers_2021,median_hh_inc_2017,median_hh_inc_2018,median_hh_inc_2019,median_hh_inc_2020,median_hh_inc_2021
row_id,,,,,,,,,,,,,,,,,,,,,
1001_2019-08-01,1001,Autauga County,Alabama,3.007682,NaN,2019,8,0,NaN,NaN,...,1.3,1.1,0.7,0.6,1.1,55317,58786.0,58731,57982.0,62660.0
1001_2019-09-01,1001,Autauga County,Alabama,2.884870,NaN,2019,9,1,3.007682,NaN,...,1.3,1.1,0.7,0.6,1.1,55317,58786.0,58731,57982.0,62660.0
1001_2019-10-01,1001,Autauga County,Alabama,3.055843,NaN,2019,10,2,2.884870,3.007682,...,1.3,1.1,0.7,0.6,1.1,55317,58786.0,58731,57982.0,62660.0
1001_2019-11-01,1001,Autauga County,Alabama,2.993233,NaN,2019,11,3,3.055843,2.884870,...,1.3,1.1,0.7,0.6,1.1,55317,58786.0,58731,57982.0,62660.0
1001_2019-12-01,1001,Autauga County,Alabama,2.993233,NaN,2019,12,4,2.993233,3.055843,...,1.3,1.1,0.7,0.6,1.1,55317,58786.0,58731,57982.0,62660.0

Since we scaled the Date information into an equivalent scale we can't keep the first month of data since a scale value of 0 might bias the model

In [21]:
df_all[["year","month","scale"]].reset_index(drop=True).drop_duplicates()

        year  month  scale
0       2019      8      0
1       2019      9      1
2       2019     10      2
3       2019     11      3
4       2019     12      4
5       2020      1      5
6       2020      2      6
7       2020      3      7
8       2020      4      8
9       2020      5      9
10      2020      6     10
11      2020      7     11
12      2020      8     12
13      2020      9     13
14      2020     10     14
15      2020     11     15
16      2020     12     16
17      2021      1     17
18      2021      2     18
19      2021      3     19
20      2021      4     20
21      2021      5     21
22      2021      6     22
23      2021      7     23
24      2021      8     24
25      2021      9     25
26      2021     10     26
27      2021     11     27
28      2021     12     28
29      2022      1     29
30      2022      2     30
31      2022      3     31
32      2022      4     32
33      2022      5     33
34      2022      6     34
35      2022      7     35
36      2022      8     36
37      2022      9     37
38      2022     10     38
122265  2022     11     39
125400  2022     12     40
128535  2023      1     41
131670  2023      2     42
134805  2023      3     43
137940  2023      4     44
141075  2023      5     45
144210  2023      6     46

In [22]:
df_all = df_all[df_all['scale'] != 0]

### Model Building

In [23]:
def smape(y_true, y_pred):
    smap = np.zeros(len(y_true))
    
    num = np.abs(y_true - y_pred)
    dem = ((np.abs(y_true) + np.abs(y_pred)) / 2)
    
    pos_ind = (y_true != 0) | (y_pred != 0)
    smap[pos_ind] = num[pos_ind] / dem[pos_ind]
    
    return 100 * np.mean(smap)

In [24]:
def to_percent(X, y):
    yhat = y / X['lags(1)']
    yhat[X['lags(1)'] == 0] = 0 # denominator cannot be 0
    return yhat

def from_percent(X, y):
    yhat = y * X[f'lags(1)']
    return yhat

**Ensemble Model used: LGBM**

LightGBM is a gradient boosting framework that uses tree based learning algorithms. It is designed to be distributed and efficient with the following advantages:

* Faster training speed and higher efficiency.

* Lower memory usage.

* Better accuracy.

* Support of parallel, distributed, and GPU learning.

* Capable of handling large-scale data.

Source: https://lightgbm.readthedocs.io/en/v3.3.2/

**Hyperparameter Tuning Tool: Optuna**

Optuna is an automatic hyperparameter optimization software framework, particularly designed for machine learning. It features an imperative, define-by-run style user API. Thanks to our define-by-run API, the code written with Optuna enjoys high modularity, and the user of Optuna can dynamically construct the search spaces for the hyperparameters.

Source: https://optuna.org/

In [25]:
SMAPE_ENABLED = True

In [26]:
def lgbm_objective(trial):
    params = {
        'n_iter'           : 200,
        'verbosity'        : -1,
        'objective'        : 'l1',
        'random_state'     : 42,
        'extra_trees'      : True,
        'colsample_bytree' : trial.suggest_float('colsample_bytree', 0.1, 1.0),
        'colsample_bynode' : trial.suggest_float('colsample_bynode', 0.1, 1.0),
        'max_depth'        : trial.suggest_int('max_depth', 3, 10),
        'learning_rate'    : trial.suggest_float('learning_rate', 0.01, 0.1, log=True),
        'lambda_l1'        : trial.suggest_float('lambda_l1', 1e-2, 10.0),
        'lambda_l2'        : trial.suggest_float('lambda_l2', 1e-2, 10.0),
        'num_leaves'       : trial.suggest_int('num_leaves', 8, 1024),
        'min_data_in_leaf' : trial.suggest_int('min_data_in_leaf', 5, 250),}
    
    model  = lgb.LGBMRegressor(**params)
    X, y   = df_all.drop(columns=[target_column]), df_all[target_column]
    
    train_times = list(range(38))
    valid_times = [38]
    
    y_train = y[X['scale'].isin(train_times)]
    y_valid = y[X['scale'].isin(valid_times)]
    
    X_train = X[X['scale'].isin(train_times)]
    X_valid = X[X['scale'].isin(valid_times)]
    
    if SMAPE_ENABLED:
        y_train = to_percent(X_train, y_train)
    
    model.fit(X_train, y_train)
    y_pred = model.predict(X_valid)
    
    if SMAPE_ENABLED:
        y_pred = from_percent(X_valid, y_pred)
    
    return smape(y_valid, y_pred)

In [27]:
study = optuna.create_study(direction='minimize', study_name='Regressor')
study.optimize(lgbm_objectivstudy.best_valuee, n_trials=30, show_progress_bar=True)

[I 2023-02-15 14:25:07,758] A new study created in memory with name: Regressor

  0%|          | 0/30 [00:00<?, ?it/s]

[LightGBM] [Warning] lambda_l1 is set=4.167584308535034, reg_alpha=0.0 will be ignored. Current value: lambda_l1=4.167584308535034
[LightGBM] [Warning] lambda_l2 is set=3.426548482200029, reg_lambda=0.0 will be ignored. Current value: lambda_l2=3.426548482200029
[LightGBM] [Warning] min_data_in_leaf is set=161, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=161
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
[I 2023-02-15 14:25:24,487] Trial 0 finished with value: 1.069598131192116 and parameters: {'colsample_bytree': 0.8592782063536475, 'colsample_bynode': 0.5221729924814734, 'max_depth': 7, 'learning_rate': 0.02908600318519419, 'lambda_l1': 4.167584308535034, 'lambda_l2': 3.426548482200029, 'num_leaves': 769, 'min_data_in_leaf': 161}. Best is trial 0 with value: 1.069598131192116.
[LightGBM] [Warning] lambda_l1 is set=3.1695907542486097, reg_alpha=0.0 will be ignored. Current value: lambda_l1=3.1695907542486097
[LightGBM] [Warning] lambda_l2 is set=6.262235841857048, reg_lambda=0.0 will be ignored. Current value: lambda_l2=6.262235841857048
[LightGBM] [Warning] min_data_in_leaf is set=77, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=77
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
[I 2023-02-15 14:25:32,112] Trial 1 finished with value: 1.073883106677771 and parameters: {'colsample_bytree': 0.5867525190841182, 'colsample_bynode': 0.36868863726705536, 'max_depth': 7, 'learning_rate': 0.014776198243243124, 'lambda_l1': 3.1695907542486097, 'lambda_l2': 6.262235841857048, 'num_leaves': 875, 'min_data_in_leaf': 77}. Best is trial 0 with value: 1.069598131192116.
[LightGBM] [Warning] lambda_l1 is set=3.7879102820106882, reg_alpha=0.0 will be ignored. Current value: lambda_l1=3.7879102820106882
[LightGBM] [Warning] lambda_l2 is set=3.4382416984993807, reg_lambda=0.0 will be ignored. Current value: lambda_l2=3.4382416984993807
[LightGBM] [Warning] min_data_in_leaf is set=38, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=38
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
[I 2023-02-15 14:25:35,519] Trial 2 finished with value: 1.076575925401055 and parameters: {'colsample_bytree': 0.50522200939413, 'colsample_bynode': 0.44042607594637695, 'max_depth': 4, 'learning_rate': 0.012777403994556073, 'lambda_l1': 3.7879102820106882, 'lambda_l2': 3.4382416984993807, 'num_leaves': 313, 'min_data_in_leaf': 38}. Best is trial 0 with value: 1.069598131192116.
[LightGBM] [Warning] lambda_l1 is set=9.59205191374349, reg_alpha=0.0 will be ignored. Current value: lambda_l1=9.59205191374349
[LightGBM] [Warning] lambda_l2 is set=7.667798134632214, reg_lambda=0.0 will be ignored. Current value: lambda_l2=7.667798134632214
[LightGBM] [Warning] min_data_in_leaf is set=246, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=246
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
[I 2023-02-15 14:25:50,308] Trial 3 finished with value: 1.0750524357832307 and parameters: {'colsample_bytree': 0.7471598066678764, 'colsample_bynode': 0.7233460006734771, 'max_depth': 8, 'learning_rate': 0.01139326460857687, 'lambda_l1': 9.59205191374349, 'lambda_l2': 7.667798134632214, 'num_leaves': 209, 'min_data_in_leaf': 246}. Best is trial 0 with value: 1.069598131192116.
[LightGBM] [Warning] lambda_l1 is set=7.494172480074974, reg_alpha=0.0 will be ignored. Current value: lambda_l1=7.494172480074974
[LightGBM] [Warning] lambda_l2 is set=7.992199053834395, reg_lambda=0.0 will be ignored. Current value: lambda_l2=7.992199053834395
[LightGBM] [Warning] min_data_in_leaf is set=120, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=120
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
[I 2023-02-15 14:26:02,270] Trial 4 finished with value: 1.0724277937498714 and parameters: {'colsample_bytree': 0.4237225755523151, 'colsample_bynode': 0.28423160209714615, 'max_depth': 5, 'learning_rate': 0.03208524554914058, 'lambda_l1': 7.494172480074974, 'lambda_l2': 7.992199053834395, 'num_leaves': 950, 'min_data_in_leaf': 120}. Best is trial 0 with value: 1.069598131192116.
[LightGBM] [Warning] lambda_l1 is set=8.77880990443687, reg_alpha=0.0 will be ignored. Current value: lambda_l1=8.77880990443687
[LightGBM] [Warning] lambda_l2 is set=6.233223825053975, reg_lambda=0.0 will be ignored. Current value: lambda_l2=6.233223825053975
[LightGBM] [Warning] min_data_in_leaf is set=117, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=117
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
[I 2023-02-15 14:26:06,518] Trial 5 finished with value: 1.0704502456814282 and parameters: {'colsample_bytree': 0.7079561825866206, 'colsample_bynode': 0.5742152463270543, 'max_depth': 8, 'learning_rate': 0.033427888580715395, 'lambda_l1': 8.77880990443687, 'lambda_l2': 6.233223825053975, 'num_leaves': 757, 'min_data_in_leaf': 117}. Best is trial 0 with value: 1.069598131192116.
[LightGBM] [Warning] lambda_l1 is set=2.507387562933613, reg_alpha=0.0 will be ignored. Current value: lambda_l1=2.507387562933613
[LightGBM] [Warning] lambda_l2 is set=4.363028735344724, reg_lambda=0.0 will be ignored. Current value: lambda_l2=4.363028735344724
[LightGBM] [Warning] min_data_in_leaf is set=121, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=121
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
[I 2023-02-15 14:26:14,866] Trial 6 finished with value: 1.069679651436886 and parameters: {'colsample_bytree': 0.7933585944908771, 'colsample_bynode': 0.6316489150282772, 'max_depth': 10, 'learning_rate': 0.016218889830123637, 'lambda_l1': 2.507387562933613, 'lambda_l2': 4.363028735344724, 'num_leaves': 400, 'min_data_in_leaf': 121}. Best is trial 0 with value: 1.069598131192116.
[LightGBM] [Warning] lambda_l1 is set=8.687769356567282, reg_alpha=0.0 will be ignored. Current value: lambda_l1=8.687769356567282
[LightGBM] [Warning] lambda_l2 is set=1.270494437158154, reg_lambda=0.0 will be ignored. Current value: lambda_l2=1.270494437158154
[LightGBM] [Warning] min_data_in_leaf is set=188, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=188
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
[I 2023-02-15 14:26:19,767] Trial 7 finished with value: 1.0725925586065501 and parameters: {'colsample_bytree': 0.8197857857900563, 'colsample_bynode': 0.6385159819295299, 'max_depth': 10, 'learning_rate': 0.038571882157769515, 'lambda_l1': 8.687769356567282, 'lambda_l2': 1.270494437158154, 'num_leaves': 1022, 'min_data_in_leaf': 188}. Best is trial 0 with value: 1.069598131192116.
[LightGBM] [Warning] lambda_l1 is set=7.216645180000448, reg_alpha=0.0 will be ignored. Current value: lambda_l1=7.216645180000448
[LightGBM] [Warning] lambda_l2 is set=5.111054980337207, reg_lambda=0.0 will be ignored. Current value: lambda_l2=5.111054980337207
[LightGBM] [Warning] min_data_in_leaf is set=186, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=186
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
[I 2023-02-15 14:26:27,158] Trial 8 finished with value: 1.073313477313207 and parameters: {'colsample_bytree': 0.9412170549705794, 'colsample_bynode': 0.8300447518837147, 'max_depth': 4, 'learning_rate': 0.03698756304567631, 'lambda_l1': 7.216645180000448, 'lambda_l2': 5.111054980337207, 'num_leaves': 980, 'min_data_in_leaf': 186}. Best is trial 0 with value: 1.069598131192116.
[LightGBM] [Warning] lambda_l1 is set=3.7641106519674423, reg_alpha=0.0 will be ignored. Current value: lambda_l1=3.7641106519674423
[LightGBM] [Warning] lambda_l2 is set=9.525632312343667, reg_lambda=0.0 will be ignored. Current value: lambda_l2=9.525632312343667
[LightGBM] [Warning] min_data_in_leaf is set=83, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=83
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
[I 2023-02-15 14:26:32,492] Trial 9 finished with value: 1.0715855618118133 and parameters: {'colsample_bytree': 0.8183288521687513, 'colsample_bynode': 0.5964142767655791, 'max_depth': 10, 'learning_rate': 0.026112188246066113, 'lambda_l1': 3.7641106519674423, 'lambda_l2': 9.525632312343667, 'num_leaves': 936, 'min_data_in_leaf': 83}. Best is trial 0 with value: 1.069598131192116.
[LightGBM] [Warning] lambda_l1 is set=0.4383413416878854, reg_alpha=0.0 will be ignored. Current value: lambda_l1=0.4383413416878854
[LightGBM] [Warning] lambda_l2 is set=0.6135039125872392, reg_lambda=0.0 will be ignored. Current value: lambda_l2=0.6135039125872392
[LightGBM] [Warning] min_data_in_leaf is set=171, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=171
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
[I 2023-02-15 14:26:34,541] Trial 10 finished with value: 1.0774995191698782 and parameters: {'colsample_bytree': 0.1563194416992123, 'colsample_bynode': 0.14296380156154886, 'max_depth': 6, 'learning_rate': 0.06905452057298873, 'lambda_l1': 0.4383413416878854, 'lambda_l2': 0.6135039125872392, 'num_leaves': 638, 'min_data_in_leaf': 171}. Best is trial 0 with value: 1.069598131192116.
[LightGBM] [Warning] lambda_l1 is set=1.9893629859761486, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1.9893629859761486
[LightGBM] [Warning] lambda_l2 is set=3.3195705066120667, reg_lambda=0.0 will be ignored. Current value: lambda_l2=3.3195705066120667
[LightGBM] [Warning] min_data_in_leaf is set=155, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=155
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
[I 2023-02-15 14:26:45,642] Trial 11 finished with value: 1.068443510239164 and parameters: {'colsample_bytree': 0.9849431121496831, 'colsample_bynode': 0.9590686742068979, 'max_depth': 9, 'learning_rate': 0.020607187629877118, 'lambda_l1': 1.9893629859761486, 'lambda_l2': 3.3195705066120667, 'num_leaves': 442, 'min_data_in_leaf': 155}. Best is trial 11 with value: 1.068443510239164.
[LightGBM] [Warning] lambda_l1 is set=5.5474318719537, reg_alpha=0.0 will be ignored. Current value: lambda_l1=5.5474318719537
[LightGBM] [Warning] lambda_l2 is set=2.6987411241968435, reg_lambda=0.0 will be ignored. Current value: lambda_l2=2.6987411241968435
[LightGBM] [Warning] min_data_in_leaf is set=217, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=217
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
[I 2023-02-15 14:26:53,221] Trial 12 finished with value: 1.0710643757455378 and parameters: {'colsample_bytree': 0.9833575292120134, 'colsample_bynode': 0.9222041175093999, 'max_depth': 8, 'learning_rate': 0.019837352623446165, 'lambda_l1': 5.5474318719537, 'lambda_l2': 2.6987411241968435, 'num_leaves': 9, 'min_data_in_leaf': 217}. Best is trial 11 with value: 1.068443510239164.
[LightGBM] [Warning] lambda_l1 is set=1.7862377273147845, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1.7862377273147845
[LightGBM] [Warning] lambda_l2 is set=2.2491499778002546, reg_lambda=0.0 will be ignored. Current value: lambda_l2=2.2491499778002546
[LightGBM] [Warning] min_data_in_leaf is set=160, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=160
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
[I 2023-02-15 14:26:59,713] Trial 13 finished with value: 1.070387356852643 and parameters: {'colsample_bytree': 0.9986950265519987, 'colsample_bynode': 0.9673481822616898, 'max_depth': 7, 'learning_rate': 0.021939842281125676, 'lambda_l1': 1.7862377273147845, 'lambda_l2': 2.2491499778002546, 'num_leaves': 574, 'min_data_in_leaf': 160}. Best is trial 11 with value: 1.068443510239164.
[LightGBM] [Warning] lambda_l1 is set=4.715710764033564, reg_alpha=0.0 will be ignored. Current value: lambda_l1=4.715710764033564
[LightGBM] [Warning] lambda_l2 is set=3.7732715800450864, reg_lambda=0.0 will be ignored. Current value: lambda_l2=3.7732715800450864
[LightGBM] [Warning] min_data_in_leaf is set=157, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=157
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
[I 2023-02-15 14:27:10,895] Trial 14 finished with value: 1.0710801093561853 and parameters: {'colsample_bytree': 0.9042774229804005, 'colsample_bynode': 0.7769693313787747, 'max_depth': 9, 'learning_rate': 0.050100544826273165, 'lambda_l1': 4.715710764033564, 'lambda_l2': 3.7732715800450864, 'num_leaves': 711, 'min_data_in_leaf': 157}. Best is trial 11 with value: 1.068443510239164.
[LightGBM] [Warning] lambda_l1 is set=1.3033458349459148, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1.3033458349459148
[LightGBM] [Warning] lambda_l2 is set=2.233859286327709, reg_lambda=0.0 will be ignored. Current value: lambda_l2=2.233859286327709
[LightGBM] [Warning] min_data_in_leaf is set=84, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=84
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
[I 2023-02-15 14:27:18,994] Trial 15 finished with value: 1.070315532981735 and parameters: {'colsample_bytree': 0.9098934835476411, 'colsample_bynode': 0.48571669381734195, 'max_depth': 6, 'learning_rate': 0.02368205867774814, 'lambda_l1': 1.3033458349459148, 'lambda_l2': 2.233859286327709, 'num_leaves': 472, 'min_data_in_leaf': 84}. Best is trial 11 with value: 1.068443510239164.
[LightGBM] [Warning] lambda_l1 is set=0.5650470294057557, reg_alpha=0.0 will be ignored. Current value: lambda_l1=0.5650470294057557
[LightGBM] [Warning] lambda_l2 is set=0.19914821410893513, reg_lambda=0.0 will be ignored. Current value: lambda_l2=0.19914821410893513
[LightGBM] [Warning] min_data_in_leaf is set=217, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=217
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
[I 2023-02-15 14:27:24,531] Trial 16 finished with value: 1.073597309253033 and parameters: {'colsample_bytree': 0.6535564179736375, 'colsample_bynode': 0.8612065364600676, 'max_depth': 9, 'learning_rate': 0.019039209839118967, 'lambda_l1': 0.5650470294057557, 'lambda_l2': 0.19914821410893513, 'num_leaves': 808, 'min_data_in_leaf': 217}. Best is trial 11 with value: 1.068443510239164.
[LightGBM] [Warning] lambda_l1 is set=2.263337117584443, reg_alpha=0.0 will be ignored. Current value: lambda_l1=2.263337117584443
[LightGBM] [Warning] lambda_l2 is set=4.716331687827864, reg_lambda=0.0 will be ignored. Current value: lambda_l2=4.716331687827864
[LightGBM] [Warning] min_data_in_leaf is set=142, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=142
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
[I 2023-02-15 14:27:28,269] Trial 17 finished with value: 1.0689043864939691 and parameters: {'colsample_bytree': 0.8572528028162507, 'colsample_bynode': 0.9779479572979548, 'max_depth': 3, 'learning_rate': 0.028209398511865033, 'lambda_l1': 2.263337117584443, 'lambda_l2': 4.716331687827864, 'num_leaves': 210, 'min_data_in_leaf': 142}. Best is trial 11 with value: 1.068443510239164.
[LightGBM] [Warning] lambda_l1 is set=2.0436509342779496, reg_alpha=0.0 will be ignored. Current value: lambda_l1=2.0436509342779496
[LightGBM] [Warning] lambda_l2 is set=4.868493240156014, reg_lambda=0.0 will be ignored. Current value: lambda_l2=4.868493240156014
[LightGBM] [Warning] min_data_in_leaf is set=102, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=102
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
[I 2023-02-15 14:27:35,004] Trial 18 finished with value: 1.0769480700379526 and parameters: {'colsample_bytree': 0.9894423669543667, 'colsample_bynode': 0.9709255493875248, 'max_depth': 3, 'learning_rate': 0.01079660025571688, 'lambda_l1': 2.0436509342779496, 'lambda_l2': 4.868493240156014, 'num_leaves': 162, 'min_data_in_leaf': 102}. Best is trial 11 with value: 1.068443510239164.
[LightGBM] [Warning] lambda_l1 is set=2.610924388617256, reg_alpha=0.0 will be ignored. Current value: lambda_l1=2.610924388617256
[LightGBM] [Warning] lambda_l2 is set=4.882569461339187, reg_lambda=0.0 will be ignored. Current value: lambda_l2=4.882569461339187
[LightGBM] [Warning] min_data_in_leaf is set=24, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=24
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
[I 2023-02-15 14:27:39,048] Trial 19 finished with value: 1.072297858998935 and parameters: {'colsample_bytree': 0.881840541592026, 'colsample_bynode': 0.986455534449314, 'max_depth': 3, 'learning_rate': 0.09801723154837402, 'lambda_l1': 2.610924388617256, 'lambda_l2': 4.882569461339187, 'num_leaves': 318, 'min_data_in_leaf': 24}. Best is trial 11 with value: 1.068443510239164.
[LightGBM] [Warning] lambda_l1 is set=0.22097549700625962, reg_alpha=0.0 will be ignored. Current value: lambda_l1=0.22097549700625962
[LightGBM] [Warning] lambda_l2 is set=1.5644117511029783, reg_lambda=0.0 will be ignored. Current value: lambda_l2=1.5644117511029783
[LightGBM] [Warning] min_data_in_leaf is set=145, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=145
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
[I 2023-02-15 14:27:43,285] Trial 20 finished with value: 1.071945504786219 and parameters: {'colsample_bytree': 0.7395216352400922, 'colsample_bynode': 0.8750139378521522, 'max_depth': 5, 'learning_rate': 0.01609627694815137, 'lambda_l1': 0.22097549700625962, 'lambda_l2': 1.5644117511029783, 'num_leaves': 51, 'min_data_in_leaf': 145}. Best is trial 11 with value: 1.068443510239164.
[LightGBM] [Warning] lambda_l1 is set=1.5610303209360221, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1.5610303209360221
[LightGBM] [Warning] lambda_l2 is set=3.2484777829057467, reg_lambda=0.0 will be ignored. Current value: lambda_l2=3.2484777829057467
[LightGBM] [Warning] min_data_in_leaf is set=137, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=137
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200
[I 2023-02-15 14:27:51,912] Trial 21 finished with value: 1.0686887471093265 and parameters: {'colsample_bytree': 0.8659311704432399, 'colsample_bynode': 0.7182385617913434, 'max_depth': 9, 'learning_rate': 0.02670294479547505, 'lambda_l1': 1.5610303209360221, 'lambda_l2': 3.2484777829057467, 'num_leaves': 483, 'min_data_in_leaf': 137}. Best is trial 11 with value: 1.068443510239164.
[LightGBM] [Warning] lambda_l1 is set=1.3880399765953433, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1.3880399765953433
[LightGBM] [Warning] lambda_l2 is set=2.9501491919835976, reg_lambda=0.0 will be ignored. Current value: lambda_l2=2.9501491919835976
[LightGBM] [Warning] min_data_in_leaf is set=140, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=140
[LightGBM] [Warning] num_iterations is set=200, n_iter=200 will be ignored. Current value: num_iterations=200

This SOTA hyperparameter tuning framework ran through multiple iterations and selected the best parameters for us

In [30]:
study.best_params

{'colsample_bytree': 0.6664817732972992,
 'colsample_bynode': 0.8413937131649727,
 'max_depth': 5,
 'learning_rate': 0.04184232428767455,
 'lambda_l1': 0.027146051246965897,
 'lambda_l2': 4.2111398913050975,
 'num_leaves': 622,
 'min_data_in_leaf': 207}

Now, we will make predictions using this an LGBM model that uses the optimal parameters

In [32]:
model = lgb.LGBMRegressor(**study.best_params)

In [33]:
model

LGBMRegressor(colsample_bynode=0.8413937131649727,
              colsample_bytree=0.6664817732972992,
              lambda_l1=0.027146051246965897, lambda_l2=4.2111398913050975,
              learning_rate=0.04184232428767455, max_depth=5,
              min_data_in_leaf=207, num_leaves=622)

In [59]:
X, y   = df_all.drop(columns=[target_column]), df_all[target_column]
X_test, y_test = X[y.isnull()], y[y.isnull()]

train_times = list(range(38))

X_train = X[X['scale'].isin(train_times)]
y_train = y[X['scale'].isin(train_times)]

if SMAPE_ENABLED:
    y_train = to_percent(X_train, y_train)

model.fit(X_train, y_train)
y_pred = model.predict(X_test)

if SMAPE_ENABLED:
    y_pred = from_percent(X_test, y_pred)

[LightGBM] [Warning] lambda_l1 is set=0.027146051246965897, reg_alpha=0.0 will be ignored. Current value: lambda_l1=0.027146051246965897
[LightGBM] [Warning] min_data_in_leaf is set=207, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=207
[LightGBM] [Warning] lambda_l2 is set=4.2111398913050975, reg_lambda=0.0 will be ignored. Current value: lambda_l2=4.2111398913050975

Now that we have done the predictions let's add it back to the test dataframe

In [54]:
# Placeholder for target column in test dataset
test_df[target_column] = 0

In [61]:
# Replace the target column with the predicted values from LGBM
test_df.loc[y_pred.index, target_column] = y_pred

In [62]:
test_df.head()

,cfips,first_day_of_month,state,county,microbusiness_density
row_id,,,,,
1001_2022-11-01,1001,2022-11-01,Alabama,Autauga County,3.470966
1003_2022-11-01,1003,2022-11-01,Alabama,Baldwin County,8.375717
1005_2022-11-01,1005,2022-11-01,Alabama,Barbour County,1.236247
1007_2022-11-01,1007,2022-11-01,Alabama,Bibb County,1.291599
1009_2022-11-01,1009,2022-11-01,Alabama,Blount County,1.835726

### Thoughts on the high-risk solution

The very fact that we were able to train one single model for all the counties at once shows the superiority over statistical time series approach of looking at each individual univariate forecasting (for each county) as independent models. In medium risk solution we had to reduce the scope to train for first 50 counties as we estimated it might take hours to train the models for 3000+ counties

The cherry on the top is that we trained the model for high-risk solution on the best parameters detected!!

**Performance Evaluation:**

Since the LGBM objective was set to optimize the SMAPE values we found the best performance came on 26th iteration of Optuna Framework where SMAPE was found to be **1.06766**. Given that this is the metric for the entire dataset for all 3000 counties the performance isn't too bad. With more feature engineering and data cleaning we can definitely optimize this model.